{% extends "Layout.html" %}
{% block content %}

<h1>Add User</h1>
<form class="pure-form" method="post">
    <fieldset class="pure-group">
        <input type="text" class="pure-input-1" name="email" placeholder="E-mail">
        <input type="password" class="pure-input-1" name="password" placeholder="Password">
    </fieldset>
    <fieldset class="pure-group">
        <label for="manager">Is he/she manager?</label>
        <select id="manager" name="manager" class="pure-input-1">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </fieldset>
    <button type="submit" class="pure-button pure-input-1-5 pure-button-primary">Submit</button>
</form>

{% endblock %}